@import "../../colors.scss";

.detailspage {

    // height: 90vh;
    >.titlepart {
        margin: 1rem 0;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        >h1 {
            font-size: 2rem;
            color: $blue;
        }
    }

    .contentpart {
        margin: 1rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        >img {
            // background-color: aliceblue;
            border-radius: 1rem;
            width: 300px;
            height: 380px;
        }


        >.overviewpart {
            width: 70%;

            >h2 {
                font-size: 1.5rem;
            }

            >.cast {
                margin: 1.5rem 0;
                font-size: 1.3rem;
                display: flex;
                flex-direction: column;

                >.cast-card {
                    display: flex;
                    font-size: 1rem;
                    overflow-x: auto;

                    >.cast-inside {
                        margin: 1rem;
                        font-size: .8rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        >img {
                            width: 100px;
                            height: 150px;
                            border-radius: 3rem;
                        }
                    }
                }
            }



            >.details {
                margin: 0rem 0 0 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                >h2 {
                    margin: 1rem 0;
                }

                >.genres {
                    margin: 1rem 0;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    align-items: center;

                    >svg {
                        width: 2.5rem;
                        height: 2.5rem;
                        margin: 0 1rem 0 0;
                    }

                    >.genre-items {
                        display: flex;
                        align-items: center;
                        >h2 {
                            font-size: 1.5rem;
                            margin: 0 2rem 0 0;
                        }
                    }
                }

                >.imdb {
                    margin: 1rem 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    >svg {
                        width: 2.5rem;
                        height: 2.5rem;
                        margin: 0 1rem 0 0;
                    }

                    >h2 {
                        font-size: 1.5rem;
                        margin: 0 2rem 0 0;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: "1020px") {
    .detailspage {
        .titlepart {
            >h1 {
                font-size: 1.5rem;
                text-align: center;
            }
        }


        .contentpart {
            flex-direction: column;

            >img {
                width: 200px;
                height: 270px;
            }

            >.overviewpart {
                width: 90%;
                margin-top: 1rem;

                >h2 {
                    text-align: center;
                    font-size: 1rem;
                }

                >.cast {
                    h2 {
                        font-size: 1.1rem;
                    }
                }

                >.details {
                    margin-top: 1rem;

                    >h2 {
                        font-size: 1.1rem;
                    }

                    >.genres {
                        >svg {
                            width: 2rem;
                            height: 2rem;
                        }

                        >.genre-items {
                            >h2 {
                                margin: .5rem 1rem 0 0;
                                font-size: 1.1rem;
                            }
                        }

                    }

                    >.imdb {
                        >svg {
                            width: 2rem;
                            height: 2rem;
                        }

                        >h2 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}