@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@import "../src/colors.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Limelight", cursive;
  font-family: "Tektur", cursive;
  font-family: "Roboto Mono", monospace;
  background-color: $background-color;
  color: $text-color;

  &::-webkit-scrollbar {
    // width: 2px;
    height: 0.6vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10rem;

    &:hover {
      background-color: $text-color;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color;
  }
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a {
    height: 80%;
    margin: 1.5rem;
    align-items: center;
    > img {
      height: 80%;
      padding: 0.5rem;
    }
  }

  > .headerLinks {
    display: flex;
    height: 100%;
    font-size: 1.7rem;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
    margin-left: 2rem;
    > .btn-show {
      display: none;
    }
    > a {
      width: 8rem;
      // background-color: rgb(55, 9, 9);
      // border-radius: 0.4rem;
      text-align: center;
      margin-right: 3rem;
      padding: 0.4rem;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
    >.homelink{
      display: none;
    }
  }
  > .btn {
    display: none;
    margin-right: 1rem;
    font-size: 2rem;
    background-color: rgba(240, 248, 255, 0);
    padding: 1rem;
    border-color: rgba(0, 0, 0, 0);
    > svg {
      background-color: none;
      &:hover {
        color: red;
      }
    }
  }
}

.footer {
  position: relative;
  height: 150px;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > .links-logo {
    display: flex;
    flex-direction: row;
    > svg {
      margin: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@media screen and (max-width: "1024px") {
  .header {
    height: 70px;
    .navshow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.950);
      z-index: 10001;
      transition: 1s;
      transform: translateY(-100vh);
      > a {
        text-align: center;
        margin: 1rem 0;
      }
      > .btn-show {
        display: block;
        position: absolute;
        // z-index: 10001;
        font-size: 2.4rem;
        top: 1rem;
        right: 1rem;
        border-color: rgba(240, 248, 255, 0);
      }
      > .homelink{
        display: block;
      }
    }
    .navbar-toggle {
      transform: none;
    }
    > .btn{
      display: block;
    }
  }
}
