@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@import "../src/colors.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Limelight", cursive;
  font-family: "Tektur", cursive;
  font-family: "Roboto Mono", monospace;
  background-color: $background-color;
  color: $text-color;

  &::-webkit-scrollbar {
    // width: 2px;
    height: 0.6vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10rem;

    &:hover {
      background-color: $text-color;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color;
  }
}

.header {
  height: 100px;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  //fixed the box size such that if any size inside increases
  //then contents inside shrinks. like below img has size 80%

  > a {
    height: 100%;
    margin-right: 1.5rem;
    align-items: center;
    > img {
      margin: 0.5rem;
      // padding: 1rem;
      height: 80%;
      padding: 0.5rem;
      // border-radius: 10rem;
    }
  }

  > .headerLinks {
    display: flex;
    height: 100%;
    font-size: 1.5rem;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;

    justify-content: flex-start;
    justify-content: center;
    > a {
      background-color: rgba(55, 9, 9, 0);
      border-radius: 0.4rem;
      margin-right: 3rem;
      padding: 0.4rem;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
  }
}

.footer {
  position: relative;
  height: 150px;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > .links-logo {
    display: flex;
    flex-direction: row;
    > svg {
      margin: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@media screen and (max-width: "620px") {
  .header {
    height: 150px;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > a {
      display: flex;
      height: 100px;
      margin: 0;
      > img {
        width: 90px;
        height: 70px;
      }
    }

    > .headerLinks {
      font-size: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 60%;
      width: 89vw;
      margin: 0;
      > a {
        margin-right: 1.5rem;
      }
    }

    > svg {
      display: none;
    }
  }
}
